html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #84a98c 0%, #52796f 50%, #354f52 100%);
}

.menu-bar {
  background-color: #354f52;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
